# Jupyter Notebook
.ipynb_checkpoints

__pycache__/

#Directories
coco/
cocolayer0output/
cocolayer1output/
datasets/
logs/
result/
testlog/

#File
submissionL1.csv
submissionL0.csv
sample_empty_submission.csv
integrated_result.csv
challenge-2019-classes-description-segmentable.csv
challenge-2019-label300-segmentable-hierarchy.json
challenge-2019-train-segmentation-masks.csv
challenge-2019-validation-segmentation-masks.csv